<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	 
<mapper namespace="com.spring.mapper.StoreMapper">
	<insert id="storeReg" parameterType="StoreVO">
		insert into shop_reg values (#{s_num}, #{u_id}, #{thumbnail},  #{s_name}, #{s_addr}, #{s_phone}, #{s_img}, #{s_hour}, #{delibery},  #{confirm})
	</insert>
	
	<!-- dohyeong start-->
	<select id="getStoreList" resultType="StoreVO">
		select * from menu_reg natural join shop_reg 
	</select>
	<!-- dohyeong end-->
	
	<update id="confirmStore" parameterType="StoreVO">
		UPDATE shop_reg SET confirm=1 WHERE s_num=#{s_num}
	</update>
	
	<delete id="refuseStore" parameterType="StoreVO">
		DELETE FROM shop_reg WHERE s_num=#{s_num}
	</delete>
	
	<select id="storeInfo" parameterType="StoreVO" resultType="StoreVO">
		SELECT * FROM shop_reg WHERE s_num=#{s_num}
	</select>
	
	<select id="checkStore" parameterType="StoreVO" resultType="int">
		SELECT count(*) FROM shop_reg WHERE u_id=#{u_id}
	</select>

	<!-- soobin start -->
	<insert id="insertStore" parameterType="StoreVO" >
      	INSERT INTO shop_reg 
     	VALUES ( #{s_num,jdbcType=VARCHAR}
			 	,#{u_id,jdbcType=VARCHAR}
				,#{thumbnail,jdbcType=VARCHAR}
			 	,#{s_name,jdbcType=VARCHAR}
				,#{s_addr,jdbcType=VARCHAR}
			 	,#{s_phone,jdbcType=VARCHAR}
			 	,#{s_img,jdbcType=VARCHAR}
			 	,#{s_hour,jdbcType=VARCHAR}
			 	,#{delibery,jdbcType=INTEGER}
			 	,#{confirm,jdbcType=INTEGER}
			 	)
	</insert>	 
	 
	<select id="selectStore" parameterType="StoreVO" resultType="StoreVO">
      	SELECT * 
      	FROM shop_reg 
      	where u_id=#{u_id}
	</select> 
	
	<update id="updateStore" parameterType="StoreVO" >
 	  	UPDATE shop_reg 
 	  	SET  s_name=#{s_name,jdbcType=VARCHAR}
 	 	 	,s_addr=#{s_addr,jdbcType=VARCHAR}
 	  	 	,s_phone=#{s_phone,jdbcType=VARCHAR}
 	  	 	,s_hour =#{s_hour ,jdbcType=VARCHAR}
 	  	 	,delibery=#{delibery,jdbcType=VARCHAR}
 	  	where u_id=#{u_id,jdbcType=VARCHAR}
 	</update>
 	
 	

</mapper>